<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab6</title>
</head>
<body bgcolor="#f0f0f0">
    <h1 style="margin-bottom: 0px; margin-left: 530px;">Matrix Operations</h1>
    <form action="testRequest" method="GET" style="margin-left: 450px; margin-top: 40px;" >
        <textarea name="matrix" id="matrix" cols="30" rows="10" style="height: 150px; width: 400px;">
        </textarea> <br>
        <input type="checkbox" name="tr" id="tr" style="margin-left: 90px; margin-top: 30px;">
        <label for="tr" style="margin-left: 3px; margin-top: 30px;">Transpose</label>
        <input type="checkbox" name="det" id="det" style="margin-left: 20px; margin-top: 30px;">
        <label for="det" style="margin-left: 3px; margin-top: 30px;">Determinant</label><br>
        <button name="submit" id="submit" style="margin-left: 145px; margin-top: 20px;"> Calculate </button>
    </form>

</body>
</html>