
<%- include ('layouts/header')%>
<div class="welcome">
    <h1 class="header">Google el 3'labaa</h1>
    <form action="/links" method="POST">
       <input type="text" name="query" id="query">  
     </form>
  <br />
</div>
<%- include ('layouts/footer')%>