body {
    margin: 0;
    font-family: "Poppins", sans-serif;
  }
  
  .site-logo {
    font-weight: 900;
    font-size: 0.8rem;
    color: var(--text);
    text-decoration: none;
  }
  
  header {
    --text: #080202;
    --text-inverse: #333;
    --background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 3em;
    transition: background 250ms ease-in;
    background: var(--background);
    color: var(--text);
  }
  
  .nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav__link {
    --spacing: 1em;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: calc(var(--spacing) / 2) var(--spacing);
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
  }
  
  .nav__link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: var(--spacing);
    right: var(--spacing);
    height: 2px;
    background: currentColor;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  }
  
  .nav__link:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  
  .nav__link--btn {
    border: 1.5px solid currentColor;
    border-radius: 2em;
    margin-left: 1em;
    transition: background 250ms ease-in-out;
    letter-spacing: 1px;
    padding: 0.75em 1.5em;
  }
  
  .nav__link--btn:hover {
    background: var(--text);
    color: var(--text-inverse);
    border-color: var(--text);
  }
  
  .nav__link--btn::after {
    display: none;
  }
  
  .nav__link--btn--highlight {
    background: limegreen;
    border-color: limegreen;
    color: #333;
  }
  
  .nav__link--btn--highlight:hover {
    background: var(--text);
    border-color: var(--text);
  }
  
  .nav-scrolled {
    --text: #333;
    --text-inverse: #f4f4f4;
    --background: #f4f4f4;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  }
  .bttn{
    margin-bottom:30px ;
}
  .bttn ul{
      list-style: none;
      display: flex;
      position: absolute;
      top: 20px;
      right: 30px;

  }