* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-position: center;
    background-size: cover;
    background-color: rgb(226, 216, 202);
    left: 100px;
    background-repeat: no-repeat;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 0;
}
header{
    padding: 10px 100px;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    background-color: #fff;
    padding: 5px;
}
.container
{
    margin-top: 7%;
    width: 50%;
}
a{

    font-size: 20px;
    text-decoration-line: underline;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 11, 107);
    text-align: center;
    margin-left: 20px;
}

p{
    font-size: 15px;
    color:  rgb(66, 66, 60);
    margin-left: 20px;
}

.ele{
    margin-top: 10px;
    margin-bottom: 50px;
}
input{
    margin-left: 10%;
    width: 30%;
    height: 45px;
    background-color: rgba(247, 245, 245, 0.753);
   padding: 10px;
    font-style: normal;
    font-size: larger;
    text-align:left;
    border-radius: 25px;
    outline: none;
    box-shadow: none;
     border-color: black;
    z-index: 2;
}

input:hover {
    background-color: #fff;
    box-shadow: rgba(116, 122, 150, 0.466);
}
img{
    margin-left: 10%;
    width: 50;
    height: 50;
    border-radius: 25px;
    outline: none;
    box-shadow: none;
     border-color: rgb(252, 252, 252);
}

.result
{
    width: 500px;
    margin-left: 50px;
}