* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Times New Roman';
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    background-image: url("../img/DSDOU3CKQNAUPNV2H5PZPJ4D4E.jpg");
    height: 100vh;
}

.container {
    width: 600px;
    margin: auto;
}

.logo {
    width: 600px;
    text-align: center;
}

.Search_Box {
    width: 100%;
    height: auto;
    margin-top: 100px;
    text-align: center;
    border-radius: 25px;
    background-color: #fff;
}

.Search_Box input {
    width: 100%;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.753);
    text-align: center;
    font-style: oblique;
    font-size: 18px;
    border-radius: 25px;
    outline: none;
    box-shadow: 2px 7px 6px 2px rgba(0, 14, 8, 0.644);
    border: none;
    z-index: 2;
}

input:hover {
    background-color: #fff;
    box-shadow: rgba(116, 122, 150, 0.466);
}

.img {
    width: 1px;
    height: 1px;
    position: absolute;
    background-color: #fff;
    border: none;
}

.sugesstions {
    max-height: 280px;
    overflow-y: auto;
}

.sugesstions li {
    padding: 8px 12px;
    list-style: none;
    width: 100%;
    cursor: default;
    display: none;
    z-index: 3;
}

.Search_Box .sugesstions li:hover {
    background-color: rgb(163, 164, 177);
}


/*
.S_List .sugesstions {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.S_List .sugesstions li {
    display: block;
}
*/